set $primary DP-3
set $secondary HDMI-A-1

output $primary {
    resolution 1920x1080@144Hz
    position 0 0
    background ~/pics/wallpapers/primary fill
}
output $secondary {
    position 1920 0
    background ~/pics/wallpapers/secondary fill
}

# Assign workspaces to outputs
workspace 1 output $primary
workspace 2 output $primary
workspace 3 output $primary
workspace 4 output $primary
workspace 5 output $secondary
workspace 6 output $secondary
workspace 7 output $secondary
workspace 8 output $secondary
workspace 9 output $primary

bindsym $mod+n focus output right
bindsym $mod+Shift+n move workspace to output right
