window#waybar {
    background: #{{colors.background}};
}

* {
    border: none;
    border-radius: 0;
    font-family: monospace, "Symbols Nerd Font";
    font-size: {{bar_font_size}};
    color: #{{colors.foreground}};
    padding: 0;
    min-height: 0;
}

/* Add a border to all components, to keep text aligned */
#workspaces button, widget > label, #tray image {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

/* Reset default hover effect */
#workspaces button:hover {
    background: none;
}

/* Spacing between components */
widget > label, #tray {
    padding: 0 5px;
    margin: 0 5px;
}

/* Highlighted components */
#workspaces button.focused, #network, #clock, #idle_inhibitor.activated {
    border-bottom-color: #{{colors.accent}};
    background-color: #{{colors.highlight}};
}

#mode {
    font-style: italic;
    border-bottom-color: #{{colors.red}};
    background-color: #{{colors.highlight}};
}

#window {
    color: #{{colors.accent}};
}

#idle_inhibitor.activated {
    background-color: #{{colors.highlight}};
}

#pulseaudio.muted {
    color: #{{colors.red}};
    border-bottom-color: #{{colors.red}};
}

#network.disconnected {
    color: #{{colors.red}};
    border-bottom-color: #{{colors.red}};
}
